body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('pic.jpg'); /* Assuming your image is named pic.jpg */
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color opacity */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    max-width: 300px;
    margin: 0 auto;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}
